<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>i Warehouse</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
<h1><span class="logo-i">i</span>-WareHouse</h1>
</header>
<div class="container">  
<div id="sidebar" class="sidebar">
<h2>Items</h2>

</div>
<div id="content" class="content">
    <div id="backgroundImage" aria-hidden="true"></div>
    <div id="contentOverlay" aria-hidden="true"></div>
    <div class="contentText">
    <h2 id="mainTitle"></h2>
    <p id="mainDescription"></p>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>